Encode files mime type in XOR-URL

When uploading files to FilesContainers encode the mime type as the ContentType in the resulting XOR-URL

Tested this with a range of different file types from [this list](https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Complete_list_of_MIME_types).
Folder upload:
```
> ./safe files put filemimetypetestdata2/
FilesContainer created at: "safe://hnyynyinqubh7bfcho1z5xc3thxbgn6gu3f1j4bxcomuhobw8bsjf3rszqbnc"
+  filemimetypetestdata2/test.7z    safe://hbkytonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.avi   safe://hb6yyynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.bin   safe://hbkyyonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.bmp   safe://hbwyyynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.csh   safe://hbkynonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.css   safe://hbhyyynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.csv   safe://hbhyyonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.doc   safe://hbkydynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.docx  safe://hbkydonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.epub  safe://hbkyronwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.gif   safe://hbwyyonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.html  safe://hbhybynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.ico   safe://hbwybynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.jar   safe://hbkyfonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.jpg   safe://hbwybonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.js    safe://hbkygynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.json  safe://hbkygonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
E  filemimetypetestdata2/test.mp3   <[Error] Unexpected - Failed to encode Media-type 'audio/mpeg'> 
+  filemimetypetestdata2/test.mpeg  safe://hb6yyonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.ods   safe://hbkyeynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.oga   safe://hboybonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.pdf   safe://hbkyjonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.png   safe://hbwynynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.ppt   safe://hbkykynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.rtf   safe://hbkymonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.sh    safe://hbkycynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.svg   safe://hbwynonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.tif   safe://hbwydynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.wav   safe://hboynynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.xls   safe://hbkyxynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.xlsx  safe://hbkyxonwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.xml   safe://hbhyronwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
+  filemimetypetestdata2/test.zip   safe://hbkytynwfzkr91wktqzfw8wbhtxx9ayh186o7qqfx4mn5ht3mnb1k83ykk 
```
We can see that the upload of the `.mp3` file failed as that file type is not yet supported. I then performed `safe cat <xor_url> -i` against the other files to view the MIME file type.

Test results:


Extension | Kind of document | MIME Type | Test? | Test data nature | Pass? |   | Retest with mock data after vault config update |  
-- | -- | -- | -- | -- | -- | -- | -- | --
.aac | AAC audio | audio/aac |   |   |   |   |   |  
.abw | AbiWord document | application/x-abiword |   |   |   |   |   |  
.arc | Archive document (multiple files embedded) | application/x-freearc |   |   |   |   |   |  
.avi | AVI: Audio Video Interleave | video/x-msvideo | yes | mock | Fail - couldn't read xorurl |   | pass |  
.azw | Amazon Kindle eBook format | application/vnd.amazon.ebook |   |   |   |   |   |  
.bin | Any kind of binary data | application/octet-stream | yes | real | pass |   | pass |  
.bmp | Windows OS/2 Bitmap Graphics | image/bmp | yes | real | can't determine |   | pass |  
.bz | BZip archive | application/x-bzip |   |   |   |   |   |  
.bz2 | BZip2 archive | application/x-bzip2 |   |   |   |   |   |  
.csh | C-Shell script | application/x-csh | yes | real | pass |   | pass |  
.css | Cascading Style Sheets (CSS) | text/css | yes | real | can't determine |   | pass |  
.csv | Comma-separated values (CSV) | text/csv | yes | real | can't determine |   | pass |  
.doc | Microsoft Word | application/msword | yes | real | can't determine |   | pass |  
.docx | Microsoft Word (OpenXML) | wordprocessingml.document | yes | real | pass |   | pass |  
.eot | MS Embedded OpenType fonts | application/vnd.ms-fontobject |   |   |   |   |   |  
.epub | Electronic publication (EPUB) | application/epub+zip | yes | real | can't determine |   | pass |  
.gz | GZip Compressed Archive | application/gzip |   |   |   |   |   |  
.gif | Graphics Interchange Format (GIF) | image/gif | yes | real | can't determine |   | pass |  
.htm .html | HyperText Markup Language (HTML) | text/html | yes | real | can't determine |   | pass |  
.ico | Icon format | image/vnd.microsoft.icon | yes | real | can't determine |   | pass |  
.ics | iCalendar format | text/calendar |   |   |   |   |   |  
.jar | Java Archive (JAR) | application/java-archive | yes | real | can't determine |   | pass |  
.jpeg .jpg | JPEG images | image/jpeg | yes | real | Fail - couldn't read xorurl |   | pass |  
.js | JavaScript | text/javascript | yes | real | can't determine |   | pass |  
.json | JSON format | application/json | yes | real | can't determine |   | pass |  
.jsonld | JSON-LD format | application/ld+json |   |   |   |   |   |  
.mid .midi | Musical Instrument Digital Interface (MIDI) | audio/midi audio/x-midi |   |   |   |   |   |  
.mjs | JavaScript module | text/javascript |   |   |   |   |   |  
.mp3 | MP3 audio | audio/mpeg | yes | real | file not uploaded (?) |   | file type not supported yet |  
.mpeg | MPEG Video | video/mpeg | yes | mock | pass |   | pass |  
.mpkg | Apple Installer Package | application/vnd.apple.installer+xml |   |   |   |   |   |  
.odp | OpenDocument presentation document | opendocument.presentation |   |   |   |   |   |  
.ods | OpenDocument spreadsheet document | opendocument.spreadsheet | yes | real | pass |   | pass |  
.odt | OpenDocument text document | opendocument.text |   |   |   |   |   |  
.oga | OGG audio | audio/ogg | yes | real | can't determine |   | pass |  
.ogv | OGG video | video/ogg |   |   |   |   |   |  
.ogx | OGG | application/ogg |   |   |   |   |   |  
.otf | OpenType font | font/otf |   |   |   |   |   |  
.png | Portable Network Graphics | image/png | yes | real | can't determine |   | pass |  
.pdf | Adobe Portable Document Format (PDF) | application/pdf | yes | real | can't determine |   | pass |  
.php | Hypertext Preprocessor (Personal Home Page) | appliction/php |   |   |   |   |   |  
.ppt | Microsoft PowerPoint | application/vnd.ms-powerpoint | yes | mock | pass |   | pass |  
.pptx | Microsoft PowerPoint (OpenXML) | presentationml.presentation |   |   |   |   |   |  
.rar | RAR archive | application/x-rar-compressed |   |   |   |   |   |  
.rtf | Rich Text Format (RTF) | application/rtf | yes | real | pass |   | pass |  
.sh | Bourne shell script | application/x-sh | yes | real | can't determine |   | pass |  
.svg | Scalable Vector Graphics (SVG) | image/svg+xml | yes | real | can't determine |   | pass |  
.swf | Small web format (SWF) or Adobe Flash document | application/x-shockwave-flash |   |   |   |   |   |  
.tar | Tape Archive (TAR) | application/x-tar |   |   |   |   |   |  
.tif .tiff | Tagged Image File Format (TIFF) | image/tiff | yes | real | pass |   | pass |  
.ts | MPEG transport stream | video/mp2t |   |   |   |   |   |  
.ttf | TrueType Font | font/ttf |   |   |   |   |   |  
.txt | Text, (generally ASCII or ISO 8859-n) | text/plain |   |   |   |   |   |  
.vsd | Microsoft Visio | application/vnd.visio |   |   |   |   |   |  
.wav | Waveform Audio Format | audio/wav | yes | mock | pass |   | pass |  
.weba | WEBM audio | audio/webm |   |   |   |   |   |  
.webm | WEBM video | video/webm |   |   |   |   |   |  
.webp | WEBP image | image/webp |   |   |   |   |   |  
.woff | Web Open Font Format (WOFF) | font/woff |   |   |   |   |   |  
.woff2 | Web Open Font Format (WOFF) | font/woff2 |   |   |   |   |   |  
.xhtml | XHTML | application/xhtml+xml |   |   |   |   |   |  
.xls | Microsoft Excel | application/vnd.ms-excel | yes | real | pass |   | pass |  
.xlsx | Microsoft Excel (OpenXML) | spreadsheetml.sheet | yes | mock | pass |   | pass |  
.xml | XML | application/xmlif not readable from casual users (RFC 3023, section 3) text/xml if readable from casual users (RFC 3023, section 3) | yes | real | can't determine |   | pass |  
.xul | XUL | application/vnd.mozilla.xul+xml |   |   |   |   |   |  
.zip | ZIP archive | application/zip | yes | real | can't determine |   | pass |  
.3gp | 3GPP audio/video container | video/3gpp audio/3gpp if it doesn't contain video |   |   |   |   |   |  
.3g2 | 3GPP2 audio/video container | video/3gpp2 audio/3gpp2 if it doesn't contain video |   |   |   |   |   |  
.7z | 7-zip archive | application/x-7z-compressed | yes | mock | pass |   | pass |  
  |   | No. of file types tested | 33 | Pass | 12 | 36.36% | 32 | 96.97%



QA verified, moving to done.